:root{
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-light-gray: #a9a9a9;
  --basic-light-brown: #766357;
  --basic-brown: #604e43;
  --basic-dark-brown: #503e33;
  --basic-light-blue: #81b3d2;
  --basic-dark-blue:#5496bd;
  --basic-blue: #669ec0;
  --box-shaddow:rgba(0, 1, 1, 0.2);
  --inner-text-gray:#666666;
  --inner-background-gray:#f2f2f2;
  --basic-dark-gray:#ebebeb;
  --footer-color:rgba(255, 255, 255, 0.9);
  --html-logo-active:#BDBBBC;
}
/*Global*/
body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.main-navigation{
  color: var(--basic-black);
  background: transparent;
}
.main-navigation-wrapper{
  background: var(--basic-white);
}
.site-navigation{
  list-style: none;
}
.site-navigation a{
  color: var(--basic-black);
  font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus,
.apartment-item-name:hover,
.apartment-item-name:focus{
  color: var(--basic-light-blue);
}
.site-navigation a:active,
.apartment-item-name:active{
  color: var(--basic-black);
  opacity: 0.3;
}
/*footer */
.main-footer{
  background-color: var(--footer-color);
  color: var(--basic-black);
  font-weight: bold;
}
.footer-contacts{
  font-size: 21px;
}
.footer-contacts a{
  color: var(--basic-black);
}
.footer-contacts,
.footer-social,
.footer-copyright{
  text-align: center;
}
.footer-social ul{
  list-style: none;
}
.footer-social a{
  background-color: var(--basic-light-blue);
}
.footer-social a:hover,
.footer-social a:focus{
  background-color: var(--basic-blue);
}
.footer-social a:active{
  background-color: var(--basic-dark-blue);
}
.footer-copyright span{
  font-weight: normal;
}
.footer-copyright path:hover,
.footer-copyright path:focus{
  fill: var(--basic-light-blue);
}
.footer-copyright path:active{
  fill: var(--html-logo-active);
}
/*Index + состояния названий апартментов из Inner*/
.index-welcome{
  background-color: var(--basic-light-blue);
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}
.index-introduction{
  font-size: 21px;
  line-height: 26px;
  white-space: pre-wrap;
  text-align: center;
}
.reasons-introduction{
  font-size: 14px;
  text-align: center;
}
.interested{
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}
.description-form{
  line-height: 24px;
  white-space: pre-wrap;
  text-align: center;
}
/*Inner*/
.site-navigation .current{
  color: var(--basic-light-brown);
}
.filter{
  color: var(--basic-white);
  line-height: 21px;
}
.filter legend{
  font-size: 16px;
  font-weight: bold;
}
.filter ul{
  list-style: none;
}
.inner-button-filter{
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
}
.apartment-list{
  list-style: none;
}
.apartment-item-name{
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
}
.apartment-item-type{
  line-height: 21px;
  text-align: center;
}
.apartment-item-price{
  line-height: 21px;
  text-align: center;
}
.apartment-item .more-information{
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}
.apartment-item .more-information:hover,
.apartment-item .more-information:focus{
  background-color: var(--basic-blue);
}
.apartment-item .more-information:active{
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}
.apartment-item .book{
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}
.apartment-item .book:hover,
.apartment-item .book:focus{
  background-color: var(--basic-brown);
}
.apartment-item .book:active{
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}
.apartment-item-ranking{
  line-height: 21px;
  text-align: center;
  color: var(--inner-text-gray);
  background-color: var(--inner-background-gray);
}
/*Временно отключаю невидимые элементы*/
.visually-hidden{
  display: none;
}
