:root{
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-light-gray: #a9a9a9;
  --basic-light-brown: #766357;
  --basic-brown: #604e43;
  --basic-dark-brown: #503e33;
  --basic-light-blue: #81b3d2;
  --basic-dark-blue:#5496bd;
  --basic-blue: #669ec0;
  --box-shaddow:rgba(0, 1, 1, 0.2);
  --inner-text-gray:#666666;
  --inner-background-gray:#f2f2f2;
  --basic-dark-gray:#ebebeb;
  --footer-color:rgba(255, 255, 255, 0.9);
  --html-logo-active:#BDBBBC;
  --inner-toggle-filter: #ABABAB;
  --border-form-active: #E5E5E5;
  --traingle-gray: #CACACA;
}
/*Global*/
body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Grid*/
.page {
  height: 100%;
}
.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Main header*/
.main-header{
  position: relative;
}
.main-navigation{
  color: var(--basic-black);
  background: transparent;
}
.main-navigation-wrapper{
  width: 100%;
  background: var(--basic-white);
}
/* Logo */
.main-header-logo{
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
/* Container */
.container{
  width: 1200px;
  margin: auto;
  padding: 0px;
}
/* Site navigation*/
.site-navigation{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
}
.site-navigation li{
  width: 25%;
}
.site-navigation li:last-child,
.site-navigation li:nth-child(3){
  text-align: right;
}
.site-navigation a{
  color: var(--basic-black);
  font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus,
.apartment-item-name:hover,
.apartment-item-name:focus{
  color: var(--basic-light-blue);
}
.site-navigation a:active,
.apartment-item-name:active{
  color: var(--basic-black);
  opacity: 0.3;
}
/*footer */
.main-footer{
  background-color: var(--footer-color);
  color: var(--basic-black);
  font-weight: bold;
  margin-top: -120px;
  padding-top: 23px;
  padding-bottom: 36px;
  padding-right: 138px;
  padding-left: 153px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contacts{
  font-size: 21px;
  width: 225px;
}
.footer-contacts span{
  display: inline-block;
  margin-bottom: 9px;
}
.footer-contacts a{
  color: var(--basic-black);
  display: inline-block;
}
.footer-contacts,
.footer-social,
.footer-copyright{
  text-align: center;
}
.footer-social{
  width: 150px;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 146px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-social a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-light-blue);
  width: 46px;
  height: 48px;
}
.footer-social a:hover,
.footer-social a:focus{
  background-color: var(--basic-blue);
}
.footer-social a:active{
  background-color: var(--basic-dark-blue);
}
.footer-copyright a{
  display: inline-block;
  vertical-align: middle;
}
.footer-copyright span{
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
.footer-copyright path:hover,
.footer-copyright path:focus{
  fill: var(--basic-light-blue);
}
.footer-copyright path:active{
  fill: var(--html-logo-active);
}
/*Index + состояния названий апартментов из Inner*/
.index-welcome{
  background-color: var(--basic-light-blue);
  background-image:  url("../img/mask-background-index.svg"), url("../img/background-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  padding-top: 77px;
  padding-bottom: 81px;
}
.index-welcome img{
  display: block;
  margin: 0 auto;
}
.introduction{
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 43px;/*возможно 42 проверить пиксель перф*/
  padding-bottom: 51px;
}
.index-introduction{
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;/*возможно 42 проверить пиксель перф*/
}
.reasons-introduction{
  width: 519px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
/*Index: reasons block*/
.reason-first h2:::before,
.reason-first h2::after {
  display: block;
  content: "";
  width: 180px;
  height: 2px;
  background: var(--basic-black);
}
/*Проверка работы класса
.interested::before,
.interested::after {
  display: block;
  content: "";
  width: 10px;
  height: 2px;
  background: var(--basic-black);
}*/
.reasons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.reason-1{
  display: flex;
}
.interest{
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 58px;
}
.interested{
  width: 435px;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;/*высчитать отступ*/
}
.description-form{
  width: 435px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 78px;
}
.interest img{
  display: block;
}
/* Form Index*/
.accommodation-form{
  width: 568px;
  border: 1px solid red;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  /*position: fiexed;
  top: 2083px;*/
  /*width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
}
.accommodation-form .accommodation-search{
  width: 568px;
  font: inherit;
  background-color: var(--basic-light-brown);
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--basic-white);
  border: none;
  vertical-align: middle;
  margin-top: ;
}
.accommodation-form .accommodation-search:hover,
.accommodation-form .accommodation-search:focus{
  background-color: var(--basic-brown);
}
.accommodation-form .accommodation-search:active{
  background-color: var(--basic-dark-brown);
  opacity: 0.3;/*задать только тексту не всей кнопке*/
}
.accommodation-form form{
  padding: 55px;
}
.accommodation-form .search{
  width: 458px;
  font: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-light-blue);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--basic-white);
  border: none;
  vertical-align: middle;
}
.accommodation-form .search:hover,
.accommodation-form .search:focus{
  background-color: var(--basic-blue);
}
.accommodation-form .search:active{
  background-color: var(--basic-dark-blue);
  opacity: 0.3;/*задать только тексту не всей кнопке*/
}
.search-variables label{
  font-weight: bold;
  display: inline-block;
  /*width: 121px;*/
}
.search-variables label:nth-child(2n){
  /*width: 125px;*/
}
.accommodation-form .search-variables{
  position: relative;
  margin-bottom: 29px;
}
.search-variables input{
  font: inherit;
  background-color: var(--inner-background-gray);
  /*color: var(--basic-black);*/
  border: none;
  padding: 5px;
  width: 346px;
  /*position: relative;*/
}
.search-variables input[type="text"]::placeholder{
  font: inherit;
  color: var(--basic-black);
  font-weight: bold;
}
.search-variables button{
  position: absolute;
  right: 5px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  padding: 0;
}
/*.accommodation-form .search-variables::after{
  content: "";
  position: absolute;
  width: 21px;
  height: 23px;
  top: 10px;
  right: 10px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
*/
.search-variables input:first-child,
.search-variables input:nth-child(2n){
  /*width: 346px;*/
}
.search-variables input:nth-child(3n),
.search-variables input:last-child{
  /*width: 114px;*/
}
.search-variables input:hover,
.search-variables input:focus{
  background-color: var(--basic-dark-gray);
}
.search-variables input:active{
  background-color: var(--basic-white);
  border: 2px solid var(--border-form-active);
}
.search-variables path:hover,
.search-variables path:focus{
  fill: var(--basic-black);
}
.footer-copyright path:active{
  fill: var(--basic-light-blue);
}
/*Inner*/
.site-navigation .current{
  color: var(--basic-light-brown);
}
.filters{
  background-color: var(--basic-light-blue);
  background-image: url("../img/background-inner.jpg");
  background-repeat: no-repeat, no-repeat;
  width: 1200px;
}
.filter{
  color: var(--basic-white);
  line-height: 21px;
  display: flex;
  padding-right: 73px;/*возможно 72*/
  padding-left: 73px;
  padding-bottom: 31px;
  padding-top: 27px;
}
.filter .filter-one{
  margin-right: 119px;
}
.filter .filter-two{
  margin-right: 347px;
}
.filter-item,
.filter-item-price{
  margin: 0;
  padding: 0;
  border: none;
}
.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  z-index: 100;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -31px;
  width: 23px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 200;
}
.filter-item li{
  margin-bottom: 23px;
}
.filter-item input{
  border:
}
.filter legend{
  font-size: 16px;
  font-weight: bold;
}
.filter ul{
  list-style: none;
}
.range-filter {
  width: 317px;
  margin-top: 10px;
  border: 3px solid green;
}
.price-controls{
  margin-bottom: 20px;
}
.price-controls label {
  line-height: 21px;
}
.price-controls input {
  font-family: inherit;
  font-size: inherit;
}
.range-controls{
  /*margin-top: 20px;*/
  position: relative;
  height: 6px;
  padding-top: 4px;
  border: 2px solid red;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--inner-toggle-filter);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.filter-three .inner-button-filter{
  width: 137px;
  display: inline-block;
  padding: 8px 35px;
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  margin: 0 auto;
  margin-top: 33px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.filter-three .inner-button-filter:hover,
.filter-three .inner-button-filter:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.apartments{
  margin: 0;
  padding: 0;
}
.apartment-list{
  list-style: none;
  padding: 0;
 }
.apartment-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--inner-background-gray);
  padding: 0 73px;
  padding-top: 24px;
  padding-bottom: 30px
}
.apartment-item:first-child{
  border-top: 1px solid var(--inner-background-gray);
}
.apartment-item .apartment-information{
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  width: 268px;
}
.apartment-name{
  margin: 0;
}
.apartment-photo img{
  width: 135px;
  height: 90px;
  display: block;
  margin-right: 29px;
}
.apartment-ranking{
}
.apartment-ranking .stars{
  display: block;
  text-align: right;
  /*background-image: url("../img/star.svg");*/
}
.stars img{
  vertical-align: middle;
}
.stars img:not(:last-child){
  margin-right: 5px;
}
.apartment-ranking .apartment-item-ranking{
  text-align: center;
  margin: 0;
  margin-top: 50px;
  line-height: 21px;
  color: var(--inner-text-gray);
  background-color: var(--inner-background-gray);
  min-width: 110px;
}
.apartment-item-name{
  margin-bottom: 7px;
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
  grid-column: 1 / -1;
}
.apartment-item-type{
  width: 126px;
  line-height: 21px;
  margin-bottom: 16px;
}
.apartment-item-price{
  width: 96px;
  line-height: 21px;
  margin-bottom: 16px;
}
.apartment-item .more-information{
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  margin-right: 8px;
  width: 110px;
  text-align: center;
  line-height: 21px;
}
.apartment-item .more-information:hover,
.apartment-item .more-information:focus{
  background-color: var(--basic-blue);
}
.apartment-item .more-information:active{
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}
.apartment-item .book{
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  width: 142px;
  text-align: center;
  line-height: 21px;
}
.apartment-item .book:hover,
.apartment-item .book:focus{
  background-color: var(--basic-brown);
}
.apartment-item .book:active{
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}
.results .results-list{
  position: relative;
}
.results .results-list::after{
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--traingle-gray);
  margin-left: -10px;
}
.visually-hidden{
  display: none;
}
